version: "3.9"

services:
  flask-app:
    build:
      context: .
    ports:
      - "5000:5000"
    volumes:
      - app-data:/persistent-data # Mount named volume elsewhere to avoid conflicts
    environment:
      - FLASK_ENV=development
    restart: always

volumes:
  app-data:
