<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

<h2>Add Student</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Student</button>
</form>

<div>
<a href="{% url 'contact_admin' %}"><button>Contact Admin</button></a>>
</div>

<div>
<a href="{% url 'calc' %}"><button>Use Calculator</button></a>
</div>

<div></div>
<a href="{% url 'feedback_view' %}"><button>Feedback</button></a>
</div>


</body>
</html>
