# k8s/logger.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logger
  namespace: ml-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logger
  template:
    metadata:
      labels:
        app: logger
    spec:
      containers:
      - name: logger
        image: multi_container_ml_app-logger:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5003
---
apiVersion: v1
kind: Service
metadata:
  name: logger
  namespace: ml-demo
spec:
  selector:
    app: logger
  ports:
    - port: 5003
      targetPort: 5003
