# k8s/model-serving.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-serving
  namespace: ml-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: model-serving
  template:
    metadata:
      labels:
        app: model-serving
    spec:
      containers:
      - name: model-serving
        image: multi_container_ml_app-model_serving:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5001
---
apiVersion: v1
kind: Service
metadata:
  name: model-serving
  namespace: ml-demo
spec:
  selector:
    app: model-serving
  ports:
    - port: 5001
      targetPort: 5001
